.carousel {
    position: relative;
    border: 1px solid black
}

.image {
    width: 100%;
    height: 600px;
}

.button {
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 99;
}

.left {
    left: 1rem
}

.right {
    right: 1rem
}